
<div class="offcanvas-body">
    <div class="offcanvas-boty-top">
        <div class="cart-item-list">
            {% for item in cart.items %}
                <div class="single-card-item">
                    <div class="product-image">
                        <img src="{{ item | img_url: '' }}" alt="item" />
                    </div>
                    <div class="product-info">
                    <h4 class="product-name">{{ item.product.title }}</h4>
                    </div>
                    <div class="product-qty">
                        <button class="dec qty-btn">-</button>
                        <input class="qty-input" type="text" title="Quantity" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" readonly />
                        <button class="inc qty-btn">+</button>
                    </div>
                    <div class="product-price">
                    <h4 class="price">{{ item.line_price | money }}</h4>
                    </div>
                    <button id="remove{{ forloop.index }}" data-id="{{ forloop.index }}" class="close-item"><i class="fas fa-times"></i></button>
                </div>
            {% endfor %}
        </div>
        {% if cart.total_price > 0 %}
        <div class="sub-total-area">
            <h4 class="subtotal-title">subtotal</h4>
            <span class="subtotal-price">{{ cart.total_price | money }}</span>
        </div>
        {% endif %}
    </div>
    {% if cart.total_price > 0 %}
        <div class="offcanvas-boty-bottom">
            <button href="#" type="submit" name="update" class="checkout-btn update updateSkipBtn">Update</button>
            <button href="#" type="submit" name="checkout" class="checkout-btn">checkout</button>
        </div>
    {% endif %}
</div>