<!-- featured items area start here  -->
<div class="featured-items-area">
    <div class="container">
        <h2 class="featured-title text-dark">{{ section.settings.feature_title }}</h2>
        <div class="row g-0">
            {% assign limit = section.settings.about_feature_item_limit %}
            {% for product in section.settings.feature_item_collection.products limit:limit %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="single-product feature-products">
                        <div class="product-thumbnil">
                            <a href="{{ product.url }}"><img src="{{ product.featured_image.src | img_url: '' }}" alt="item" /></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="{{ product.url }}">Cream Earl Grey</a></h3>
                            <img class="icon" src="{{ 'product-icon.svg' | asset_url }}" alt="icon" />
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="see-more-area text-end">
            <a href="{{ section.settings.feature_item_link }}" class="see-more-btn">SEE MORE <i class="fas fa-caret-right"></i></a>
        </div>
    </div>
</div>
<!-- featured items area end here  -->

{% schema %}
{
    "name": "About Feature Item",
    "settings":[
        {
            "type": "text",
            "id": "feature_title",
            "label": "Feature Title",
            "default": "FEATURED ITEMS"
        },
        {
            "type": "collection",
            "id": "feature_item_collection",
            "label": "Feature Collections"
        },
        {
            "type": "url",
            "id": "feature_item_link",
            "label": "More Link"
        },
        {
            "type": "range",
            "id": "about_feature_item_limit",
            "label": "Product Limit",
            "min": 1,
            "max": 40,
            "default": 4
        }
    ],
    "presets": [
      {
        "name": "About Feature Item"
      }
    ]
}
{% endschema %}