<!-- shop area start here  -->
<div class="shop-area">
    <div class="container">
        {% assign limit_product = section.settings.product_limit %}
        {%- paginate collections.all.products by limit_product -%}
        
            <div class="shop-filter-are">
                <div class="shop-filter-left">
                    <button class="filter-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter"
                        aria-controls="offcanvasFilter">Filter by <img class="filter-icon"
                            src="{{ 'filter.svg' | asset_url }}" alt="filter" /></button>
                </div>

                {% render 'short-filter' %}
            </div>
            <div class="shop-item-wrap">
                <div class="row g-0">

                    {% assign data = '<p>okay</p>' %}

                    {% assign products_by_price = collection.products %}
                    {% for product in products_by_price %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <div class="product-thumbnil">
                                <a href="{{ product.url }}"><img src="{{ product.featured_image.src | img_url: '' }}"
                                        alt="item" /></a>
                            </div>
                            <div class="product-info">
                                <h3 class="product-title"><a href="{{ product.url }}">{{ product.title }}</a></h3>
                                <img class="icon" src="{{ 'product-icon.svg' | asset_url }}" alt="icon" />
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pagination-area">

                {% if paginate.previous.is_link %}
                <a href="{{ paginate.previous.url }}" class="pagintion-btn back-btn"><i class="fas fa-caret-left"></i>
                    BACK</a>
                {% else %}
                <a href="{{ paginate.previous.url }}" class="pagintion-btn back-btn disabled"><i class=""></i></a>
                {% endif %}

                <ul class="pagination-items">
                    {% for part in paginate.parts %}
                    {% if part.is_link %}
                    <li class=""><a href="{{ part.url }}">{{ part.title | escape }}</a></li>
                    {% else %}
                    {% if part.title == paginate.current_page %}
                    <li class="active"><a href="{{ part.url }}">{{ part.title | escape }}</a></li>
                    {% else %}
                    <li class=""><a href="{{ part.url }}">{{ part.title | escape }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if paginate.next.is_link %}
                <a href="{{ paginate.next.url }}" class="pagintion-btn next-btn">NEXT <i class="fas fa-caret-right"></i></a>
                {% else %}
                <a href="" class="pagintion-btn next-btn disabled"> <i class=""></i></a>
                {% endif %}

            </div>
        {%- endpaginate -%}
    </div>
</div>

{% render 'product-filter' %}

<!-- shop area end here  -->


{% schema %}
{
    "name": "Products Grid",
    "settings":[
        
        {
            "type": "text",
            "id": "showcase_hero_title",
            "label": "Showcase Hero Title",
            "default": "Our Teas"
        },
        {
            "type": "text",
            "id": "showcase_hero_slug",
            "label": "Showcase Hero Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis euismod ex, id rhoncus arcu. Ut vitae facilisis metus, nec auctor nibh. Integer ut tristique magna, id congue ex. Sed mollis libero non velit faucibus, quis suscipit tortor gravida."
        },
        {
            "type": "range",
            "id": "product_limit",
            "label": "Product limit Per Page",
            "default": 9,
            "min": 1,
            "max": 50
        }
        
    ],
    "presets": [
      {
        "name": "Products Grid"
      }
    ]
}
{% endschema %}