<!-- featured items area start here  -->
<div class="featured-items-area section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if section.settings.feature_title %}
                    <h2 class="featured-title">{{ section.settings.feature_title }}</h2>
                {% endif %}
            </div>
        </div>
        <div class="row g-0">

            {% assign limit = section.settings.feature_item_limit %}
            {% for product in section.settings.feature_item_collection.products limit:limit %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-product">
                        <div class="product-thumbnil">
                            <a href="{{ product.url }}" class=""><img src="{{ product.featured_image.src | img_url: '' }}" alt="item" /></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="{{ product.url }}">{{ product.title }}</a></h3>
                            {% assign product_collection = product.collections.first %}
                            {% if product_collection %}
                            <img class="icon" src="{{ product_collection.featured_image.src | img_url: '' }}" alt="icon" />
                            {% else %}
                            <img class="icon" src="{{ 'product-icon.svg' | asset_url }}" alt="icon" />
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- featured items area end here  -->

{% schema %}
{
    "name": "Feature Item",
    "settings":[
        {
            "type": "text",
            "id": "feature_title",
            "label": "Feature Title",
            "default": "FEATURED ITEMS"
        },
        {
            "type": "collection",
            "id": "feature_item_collection",
            "label": "Feature Collections"
        },
        {
            "type": "range",
            "id": "feature_item_limit",
            "label": "Product Limit",
            "min": 1,
            "max": 40,
            "default": 3
        }
    ],
    "presets": [
      {
        "name": "Feature Item"
      }
    ]
}
{% endschema %}