<!-- featured items area start here  -->
<div class="featured-items-area section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if section.settings.feature_title %}
                    <h2 class="featured-title">{{ section.settings.feature_title }}</h2>
                {% endif %}
            </div>
        </div>
        <div class="row g-0">
            {% for product in section.settings.feature_item_collection.products %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-product">
                        <div class="product-thumbnil">
                            <a href="{{ product.url }}" class=""><img src="{{ product.featured_image.src | img_url: '' }}" alt="item" /></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="{{ product.url }}">{{ product.title }}</a></h3>
                            <img class="icon" src="assets/product-icon.svg" alt="icon" />
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- featured items area end here  -->

{% schema %}
{
    "name": "Feature Item",
    "settings":[
        {
            "type": "text",
            "id": "feature_title",
            "label": "Feature Title",
            "default": "FEATURED ITEMS"
        },
        {
            "type": "collection",
            "id": "feature_item_collection",
            "label": "Feature Collections"
        }
    ],
    "presets": [
      {
        "name": "Feature Item"
      }
    ]
}
{% endschema %}