<!-- footer area start here  -->
<footer class="footer-area">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-6 col-md-4">
                    <div class="single-widget footer-menu">
                        <ul>
                            {% for link in linklists[section.settings.footer_menu].links %}
                                {% if link.links == blank %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-4">
                    <div class="single-widget contact-info">
                        <p>{{ section.settings.address }}</p>
                        <p>{{ section.settings.phone }}<br />{{ section.settings.email }}</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-4">
                    <div class="single-widget">
                        <ul class="shop-open-time">
                            {% for block in section.blocks %}
                                <li><span class="day-text">{{ block.settings.day_name }}</span> <span class="time">{{ block.settings.day_time }}</span></li>
                            {% endfor %}
                        </ul>
                        <ul class="social-media">
                            <li><a href="{{ section.settings.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{ section.settings.instagram }}"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-12">
                    <div class="single-widget newsletter-widget">
                        <h3 class="widget-title">Stay in the know.</h3>
                        <div class="newsletter-form">
                            {% form 'contact', enctype: 'multipart/form-data' %}
                            {% if form.posted_successfully? %} Thank you for your contact {% endif %}
                            {{ form.errors | default_errors }}
                                <div class="newsletter-wrap">
                                    <div class="newsletter-left">
                                        <input type="email" class="form-control" name="contact[email]" id="email" placeholder="Your email" />
                                        <p class="newsletter-text">By signing up to our newsletter, you agree with our
                                            <a href="{{ section.settings.Privacy_Policy }}">Terms of Use</a> and <a href="{{ section.settings.Terms_Of_Use }}">Privacy Policy</a>. To opt out,
                                            click Unsubscribe in our emails.</p>
                                    </div>
                                    <button type="submit" class="primary-btn">SIGN ME UP</button>
                                </div>
                            {%- endform -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <div class="copyright-area">
                        <p>{{ section.settings.copry_right }}</p>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <ul class="footer-bottom-menu">
                        <li><a href="{{ section.settings.Privacy_Policy }}">Privacy Policy</a></li>
                        <li><a href="{{ section.settings.Terms_Of_Use }}">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end here  -->

<!-- Js file  -->
<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}"></script>
<script src="{{ 'bootstrap.bundle.min.js' | asset_url }}"></script>
<script src="{{ 'plugins.js' | asset_url }}"></script>
<script src="{{ 'main.js' | asset_url }}"></script>

{% schema %}
{
    "name": "Footer",
    "settings":[
    
        {
            "type": "text",
            "id": "address",
            "label": "Address",
            "default": "#101-2342 Hasting St E Vancouver BC V5L 1V5"
        },
        {
            "type": "text",
            "id": "phone",
            "label": "Phone",
            "default": "+1 778 889 8327"
        },
        {
            "type": "text",
            "id": "email",
            "label": "Email",
            "default": "hello@steamteahouse.com"
        },
        {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer menu"
        },
        {
            "type": "text",
            "id": "facebook",
            "label": "Facebook Link",
            "default": "https://facebook.com"
        },
        {
            "type": "text",
            "id": "instagram",
            "label": "Instagram Link",
            "default": "https://instagram.com"
        },
        {
            "type": "url",
            "id": "Privacy_Policy",
            "label": "Privacy Policy"
        },
        {
            "type": "url",
            "id": "Terms_Of_Use",
            "label": "Terms Of Use"
        },
        {
            "type": "text",
            "id": "copry_right",
            "label": "Copyright Text",
            "default": "© 2022 Steam Tea House Ltd."
        }
    ],
    "blocks": [
        {
        "name": "Opening Time",
        "type": "slide",
        "settings": [
            {
                "type": "text",
                "id": "day_name",
                "label": "Weekly Day",
                "default": "MON-FRI"
            },
            {
                "type": "text",
                "id": "day_time",
                "label": "Weekly Time",
                "default": "12PM - 6PM"
            }
        ]
        }
    ],
    "presets": [
      {
        "name": "Footer"
      }
    ]
}
{% endschema %}