<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href="{{ canonical_url }}">
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    <meta name="description" content="SteamTea Responsive  HTML5 Template " />
    <meta name="keywords" content="business,corporate, creative, woocommerach, design, gallery, minimal, modern, landing page, cv, designer, freelancer, html, one page, personal, portfolio, programmer, responsive, nft, p2p, vcard, one page" />
    <meta name="author" content="SteamTea" />
    <!-- Place favicon.ico in the root directory -->
    {% if section.settings.favicon %}
    <link rel="shortcut icon" href="{{ section.settings.favicon | img_url: '' }}" type="image/x-icon">
    {% else %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon">
    {% endif %}

    <!-- fonts file -->
    <link href="{{ 'fonts.css' | asset_url}}" rel="stylesheet"/>
    <!-- css file  -->
    <link rel="stylesheet" href="{{ 'plugins.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'bootstrap.min.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}" />
    <link rel="stylesheet" href="{{ 'responsive.css' | asset_url }}" />
    <script src="{{ 'modernizr-3.11.2.min.js' | asset_url }}"></script>
    {{ content_for_header }}
</head>
<body>

<!-- header area star here  -->
<header class="header-area header-transparent">
    <div class="header-top">
        <p>{{ section.settings.announce_bar }}</p>
        <button class="close-btn"><i class="fas fa-times"></i></button>
    </div>
    <div class="container">
        <div class="header-wrap">
            <div class="header-left">
                <a class="navbar-brand" href="/"><img src="{{ section.settings.logo | img_url: '' }}" alt="logo" /></a>
            </div>
            <nav class="main-menu-area">
                <ul>
                    {% for link in linklists[section.settings.main_menu].links %}
                        {% if link.links == blank %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <div class="header-right">
                <ul>
                    <li class="search-btn">
                        <a href="#"><img class="icon" src="{{ 'search.svg' | asset_url }}" alt="search" /></a>
                        <div class="search-form-area">
                            <div class="search-form">
                                <form action="#">
                                    <input type="search" id="search-box" name="q" placeholder="Search here" autocomplete="off" />
                                </form> 
                            </div>
                            <div class="search-item-list">
                                
                                <!-- <a href="#" class="load-more-btn">load more</a> -->
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><img class="icon" src="{{ 'account.svg' | asset_url }}" alt="account" /></a></li>
                    <li><a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart" class="cart-btn"><img class="icon" src="{{ 'bag.svg' | asset_url }}" alt="bag" />
                            <span class="cart-items-count">{{ cart.item_count }}</span></a></li>
                </ul>
                <button class="menu-bar d-block d-lg-none" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasMobileMenu" aria-controls="offcanvasMobileMenu"><i
                        class="fas fa-bars"></i></button>
            </div>
        </div>
    </div>
</header>
<!-- header area end here  -->
<div class="offcanvas offcanvas-end mobile-menu-area" tabindex="-1" id="offcanvasMobileMenu">
    <div class="offcanvas-header">
        <a class="navbar-brand" href="/"><img src="{{ section.settings.logo | img_url: '' }}" alt="logo" /></a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i
                class="fas fa-times"></i></button>
    </div>
    <div class="offcanvas-body">
        <nav class="mobile-menu">
            <ul>
                {% for link in linklists[section.settings.main_menu].links %}
                    {% if link.links == blank %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>

{% schema %}
{
    "name": "Header",
    "settings":[
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "image_picker",
            "id": "favicon",
            "label": "Favicon"
        },
        {
            "type": "text",
            "id": "announce_bar",
            "label": "Announce Bar",
            "default": "Free In-Store Pick Up + Free Shipping in Canada on Orders Over $80"
        },
        {
            "type": "link_list",
            "id": "main_menu",
            "label": "Main menu"
        }
    ],
    "presets": [
      {
        "name": "Header"
      }
    ]
}
{% endschema %}