<!-- shop area start here  -->
<div class="shop-area">
    <div class="container">
        <div class="shop-filter-are">
            <div class="shop-filter-left">
                <button class="filter-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter"
                    aria-controls="offcanvasFilter">Filter by <img class="filter-icon"
                        src="{{ 'filter.svg' | asset_url }}" alt="filter" /></button>
            </div>
            <div class="shop-filter-right">
                <div class="short-by">
                    <span class="short-by-title">Sort by</span>
                    <select class="form-select">
                        <option selected>Best Selling</option>
                        <option value="1">Best Price</option>
                        <option value="2">Low Price</option>
                        <option value="3">Best Review</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="shop-item-wrap">
            <div class="row g-0">
                {% for product in collections.all.products %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-product">
                        <div class="product-thumbnil">
                            <a href="{{ product.url }}"><img src="{{ product.featured_image.src | img_url: '' }}"
                                    alt="item" /></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="{{ product.url }}">{{ product.title }}</a></h3>
                            <img class="icon" src="{{ 'product-icon.svg' | asset_url }}" alt="icon" />
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="pagination-area">
            <a href="#" class="pagintion-btn back-btn"><i class="fas fa-caret-left"></i> BACK</a>
            <ul class="pagination-items">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
            <a href="#" class="pagintion-btn next-btn">NEXT <i class="fas fa-caret-right"></i></a>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start filter-area" tabindex="-1" id="offcanvasFilter">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">Filter by</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i
                class="fas fa-times"></i></button>
    </div>
    <div class="offcanvas-body">
        <div class="single-filter">
            <h4 class="filter-title">Collection</h4>
            <div class="filter-list">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Caffeinated" />
                    <label class="form-check-label" for="Caffeinated"> Caffeinated</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Non-caffeinated" />
                    <label class="form-check-label" for="Non-caffeinated"> Non-caffeinated</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Organic" checked />
                    <label class="form-check-label" for="Organic"> Organic</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Non-organic" />
                    <label class="form-check-label" for="Non-organic"> Non-organic</label>
                </div>
            </div>
        </div>
        <div class="single-filter">
            <h4 class="filter-title">Tea Type</h4>
            <div class="filter-list">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Black" />
                    <label class="form-check-label" for="Black"> Black</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Dark" />
                    <label class="form-check-label" for="Dark"> Dark</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Fruit-Herbal" checked />
                    <label class="form-check-label" for="Fruit-Herbal"> Fruit/Herbal</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Honeybush" />
                    <label class="form-check-label" for="Honeybush"> Rooibos/Honeybush</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Oolong" />
                    <label class="form-check-label" for="Oolong"> Oolong</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="White" />
                    <label class="form-check-label" for="White"> White</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Green" />
                    <label class="form-check-label" for="Green"> Green</label>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop area end here  -->

<form class="filter-form">
{%- for filter in collection.filters -%}
    <details class="filter-group">
    <summary class="filter-group-summary">
        <div>
        <span>{{ filter.label }}</span>

        {%- if filter.active_values.size > 0 -%}
            <span>({{ filter.active_values.size }})</span>
        {%- endif -%}
        </div>
    </summary>

    <div class="filter-group-display">
        <div class="filter-group-display__header">
        <span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>

        {%- if filter.active_values.size > 0 -%}
            <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
        {%- endif -%}
        </div>

        {%- case filter.type -%}
        {%- when 'list' -%}
            <ul class="filter-group-display__list">
            {%- for filter_value in filter.values -%}
                <li class="filter-group-display__list-item">
                <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                <input type="checkbox"
                    name="{{ filter_value.param_name }}"
                    value="{{ filter_value.value }}"
                    id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                    {% if filter_value.active -%}checked{%- endif %}
                    {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                >{{ filter_value.label }}</label>
                </li>
            {%- endfor -%}
            </ul>

            <div class="filter-group-display__submit">
            <input type="submit" value="Apply">
            </div>
        {%- when 'price_range' -%}
            <div class="filter-group-display__price-range">
            <div class="filter-group-display__price-range-from">
                <span>{{ cart.currency.symbol }}</span>

                <input name="{{ filter.min_value.param_name }}"
                id="Filter-{{ filter.min_value.param_name }}"
                {% if filter.min_value.value -%}
                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                {%- endif %}
                type="number"
                placeholder="0"
                min="0"
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >

                <label for="Filter-{{ filter.min_value.param_name }}">From</label>
            </div>
            <div class="filter-group-display__price-range-to">
                <span>{{ cart.currency.symbol }}</span>

                <input name="{{ filter.max_value.param_name }}"
                id="Filter-{{ filter.max_value.param_name }}"
                {% if filter.max_value.value -%}
                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                {%- endif %}
                type="number"
                placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                min="0"
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >

                <label for="Filter-{{ filter.max_value.param_name }}">To</label>
            </div>
            </div>

            <div class="filter-group-display__submit">
            <input type="submit" value="Apply">
            </div>
        {%- endcase -%}
    </div>
    </details>
{%- endfor -%}

{% schema %}
{
    "name": "Products Grid",
    "settings":[
        
        {
            "type": "text",
            "id": "showcase_hero_title",
            "label": "Showcase Hero Title",
            "default": "Our Teas"
        },
        {
            "type": "text",
            "id": "showcase_hero_slug",
            "label": "Showcase Hero Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis euismod ex, id rhoncus arcu. Ut vitae facilisis metus, nec auctor nibh. Integer ut tristique magna, id congue ex. Sed mollis libero non velit faucibus, quis suscipit tortor gravida."
        }
    ],
    "presets": [
      {
        "name": "Products Grid"
      }
    ]
}
{% endschema %}