<script> window.product = {{ product | json }} || {} </script>
<script type="application/json">
    
    {{ product.variants | json }}
  </script>
<!-- single product area start here  -->
<div class="single-product-section section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="product-section-left">
                    <div class="product-image-thumbnail">
                        {% for image in product.images %}
                        <div class="product-image">
                            <img src="{{ image.src | img_url: '' }}" alt="single-product-image" />
                        </div>
                        {%endfor %}
                    </div>
                    <div class="product-image-slide">
                        {% for image in product.images %}
                            <div class="product-image">
                                <img src="{{ image.src | img_url: '' }}" alt="single-product-image" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                    <div class="product-section-right">
                        <div class="product-title-area">
                            <h2 class="product-title">Chamomile (Organic)</h2>
                            <img src="{{ 'product-icon.svg' | asset_url }}" alt="product icon" class="icon" />
                        </div>
                        <p class="product-short-descrption">{{ product.description }}</p>
                        
                        <p class="price-single-page" id="price-single-page">{{ product.price | money }}</p>

                        {% unless product.has_only_default_variant %}
                            {% for product_option in product.options_with_values %}
                                <div class="product-swatch-size">
                                    <h3 class="product-swatch-title">Choose a {{ product_option.name }}:</h3>
                                    <div class="size-list">
                                        {% for value in product_option.values %}
                                            <div class="single-size">
                                                <input class="variant_class" data-id="swatch-{{ forloop.index }}g" id="swatch-{{ forloop.index }}g" type="radio" name="id" value="{{ value | escape }}" {% if product_option.selected_value == value %} checked {% endif %} />
                                                <label class="swatch-text" for="swatch-{{ forloop.index }}g">{{ value | escape }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endunless %}

                        

                        <div class="qty-addto-cart-wrap">
                            <div class="qty-wrap">
                                <div class="product-qty">
                                    <button class="dec qty-btn">-</button>
                                    <input  min="1" class="qty-input" type="text" title="Quantity" name="quantity" value="1" readonly />
                                    <button class="inc qty-btn">+</button>
                                </div>
                            </div>
                            <input type="hidden" id="variant-id" name="id" value="{{ product.variants.first.id }}">
                            <button type="submit" class="secondary-btn" >Add to cart</button>
                        </div>
                        <div class="product-content">
                            <div class="accordion primary-accordion" id="ProductContent">

                                {% for faq in product.metafields.my_fields.faqs.value %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne{{ forloop.index }}">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.index }}">
                                                {% echo faq.question %}
                                            </button>
                                        </h2>
                                        <div id="collapseOne{{ forloop.index }}" class="accordion-collapse collapse {% if forloop.index == 1 %} show {% endif %}" aria-labelledby="headingOne{{ forloop.index }}"
                                            data-bs-parent="#PrimaryAccordion">
                                            <div class="accordion-body">
                                                {% echo faq.answer %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- single product area end here  -->

